<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muaqqibatun.raqib">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <!-- "@style/Base.Theme.AppCompat.Light">  -->
        <activity
            android:name=".ArticleListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ArticleEditorActivity"
            android:label="@string/name_article_editor_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:label="@string/name_preference_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
        </activity>


        <activity
            android:name=".ArticleViewerActivity"
            android:label="@string/name_article_viewer_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



</manifest>
